* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  color: #ffffff;
}

a {
  cursor: pointer;
  color: #e23232;
}
a:hover {
  color: #c51c1c;
}

body {
  background: #121212;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito";
}

.btn-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.btn-container.center {
  text-align: center;
}

.btn {
  text-align: center;
  padding: 10px;
  background: #e23232;
  color: #ffffff;
  display: inline-block;
  margin: 20px 10px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.btn:hover {
  background: #c51c1c;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.btn i {
  font-size: 18px;
}
.btn i.mr {
  margin-right: 10px;
}
.btn i.ml {
  margin-left: 10px;
}
.btn.btn-md {
  padding: 20px 30px;
  font-size: 18px;
}
.btn.btn-bg {
  padding: 25px 40px;
  font-size: 26px;
}
.btn.btn-black {
  background: #000000;
  color: #ffffff;
}
.btn.btn-black:hover {
  background: #0a0a0a;
  color: #ffffff;
}

.navigation {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.navigation .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation .left h1 {
  cursor: pointer;
}
.navigation .left h1 .logo {
  width: 60px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.navigation .left ul {
  margin-left: 20px;
  display: block;
}
.navigation .left ul li {
  display: inline-block;
}
.navigation .left ul li a {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

@media (max-width: 610px) {
  .navigation {
    flex-direction: column;
    position: relative;
  }
  .navigation .left {
    width: 100%;
    padding: 10px 0;
    flex-direction: column;
  }
  .navigation .left h1 {
    text-align: center;
  }
  .navigation .left ul {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .navigation .left ul li {
    display: block;
  }
  .navigation .left ul li a {
    display: block;
  }
}
.header {
  background: #1d1d1d;
  padding: 40px 0;
  background-image: url("./../images/background.png");
}
.header .logo {
  display: block;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.header .info {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}
.header .info h2 {
  font-size: 35px;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.header .info span {
  font-size: 20px;
  color: #cccccc;
}

@media (max-width: 610px) {
  .header .info {
    font-size: 25px;
  }
  .header .info span {
    font-size: 20px;
  }
  .header .btn-container {
    width: 80%;
  }
  .header .btn-container .btn {
    display: block;
  }
}
.bot-info {
  padding: 80px 40px;
  width: calc(100% - 40px * 2);
  max-width: calc(1400px - 40px * 2);
  margin: 0 auto;
}
.bot-info .bot-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.bot-info .bot-info-box:last-child {
  margin-bottom: 0;
}
.bot-info .bot-info-box.reverse {
  flex-direction: row-reverse;
}
.bot-info .bot-info-box .bot-info-text {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  margin: 0 auto;
}
.bot-info .bot-info-box .bot-info-text p {
  font-size: 20px;
  color: #999;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  -webkit-text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  -moz-text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.bot-info .bot-info-box .bot-info-text p.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}
.bot-info .bot-info-box .bot-info-text p span {
  color: #e23232;
  background: #000000;
  padding: 3px 10px;
  border-radius: 4px;
  margin: 0 5px;
  text-shadow: 0 0 10px #e23232;
  -webkit-text-shadow: 0 0 10px #e23232;
  -moz-text-shadow: 0 0 10px #e23232;
}
.bot-info .bot-info-box .bot-info-img {
  width: 60%;
  max-width: 450px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.bot-info .bot-info-box .bot-info-img img {
  display: block;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.bot-commands {
  padding: 80px 40px;
  margin: 0 auto;
  width: calc(100% - 40px * 2);
  background: #1c1c1c;
}
.bot-commands .bot-command-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.bot-commands .bot-command-container .bot-command-box {
  border-left: 4px solid #e23232;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 3px;
  background: #121212;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.bot-commands .bot-command-container .bot-command-box:last-child {
  margin-bottom: 0;
}
.bot-commands .bot-command-container .bot-command-box span {
  font-weight: bold;
  font-size: 18px;
}
.bot-commands .bot-command-container .bot-command-box p {
  margin-top: 10px;
  font-size: 16px;
  color: #b3b3b3;
}

.bot-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 40px;
  width: calc(100% - 40px * 2);
  max-width: calc(1400px - 40px * 2);
  text-align: center;
  margin: 0 auto;
}
.bot-button span {
  font-size: 30px;
  padding: 20px;
}

@media (max-width: 610px) {
  .bot-info .bot-info-box {
    flex-direction: column-reverse;
  }
  .bot-info .bot-info-box.reverse {
    flex-direction: column-reverse;
  }
  .bot-info .bot-info-box .bot-info-text {
    margin-top: 40px;
    width: 80%;
    text-align: center;
  }
  .bot-info .bot-info-box .bot-info-text p {
    font-size: 18px;
  }
  .bot-info .bot-info-box .bot-info-text p.title {
    font-size: 22px;
  }
  .bot-info .bot-info-box .bot-info-img {
    width: 70%;
  }
}
footer {
  background: #1d1d1d;
  text-align: center;
  padding: 40px 0;
}
footer span {
  font-weight: bold;
  color: #e23232;
}
